.maxscreen-footer-nav {
  height: calc(100vh - var(--navbar-height) - var(--logo-height))
}

.page-wrapper {
        position: absolute;
        top: var(--navbar-height);
        width: 100%;
        max-height: calc(100dvh - var(--navbar-height));
        overflow-y: auto;
        overflow-x: hidden; // offset for sticky navbar
}

.scrollable-container {
  flex: 1 1 auto;
  overflow-y: auto;
}
