.maxscreen-footer-nav {
  height: calc(100vh - var(--navbar-height) - var(--logo-height))
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: var(--navbar-height); // offset for sticky navbar
}

.scrollable-container {
  flex: 1 1 auto;
  overflow-y: auto;
}
