:root {
  --light-card: hsl(0, 0%, 85%);
  --dark-card: hsl(0, 0%, 49%);
  --light-card-hover: hsl(227, 33%, 91%);
  --dark-card-hover: hsl(230, 19%, 36%);
  --footer-bg-light: transparent;
  --footer-bg-dark: hsl(0, 0%, 31%);
  --light-muuri-tile: hsla(0, 0%, 73%, 0.3);
  --dark-muuri-tile: hsla(0, 0%, 49%, 0.3);
  --light-badge: hsl(220, 2%, 65%);
  //--light-badge: hsl(230, 19%, 87%);
  --dark-badge: hsl(0, 1%, 22%);

  --ov-bg-light: none;
  --ov-bg-dark: none;

  --light-hierarchy-item: hsl(0, 0%, 83%);
  --dark-hierarchy-item: hsl(0, 0%, 35%);

  --light-label: black;
  --dark-label: white;

  --light-text: hsl(0, 0%, 33%);
  --dark-text: hsl(0, 3%, 94%);


  --card-hover: var(--light-card-hover);

  --counters-bg-light: hsla(208, 34%, 60%, 0.75);
  --counters-bg-dark: hsla(208, 24%, 44%, 0.74);
  --light-text1: hsl(0, 0%, 0%);
  --light-text2: hsl(230, 17%, 14%);

  --logo-height: 132px;
  --navbar-height: 96px;
  --limegreen: hsl(163, 72%, 41%);
  --brightred: hsl(356, 69%, 56%);
  --blue: hsl(208, 92%, 53%);
  --light-orange: hsl(37, 97%, 70%);
  --pink: hsl(329, 70%, 58%);
  --reddish-brown: hsl(349, 19%, 29%);

  --dark-greyblue: hsl(232, 19%, 15%);
  --text-color1: var(--light-text2);
  --text-color2: var(--light-text1);
  --card-bg: var(--light-card);
  --card-hover: var(--light-card-hover);
  --muuri-tile: var(--light-muuri-tile);
}


body.light {
  --ov-bg: var(--ov-bg-light);
  --counters-bg: var(--counters-bg-light);
  --footer-bg: var(--footer-bg-light);
  --card-bg: var(--light-card);
  --card-hover: var(--light-card-hover);
  --muuri-tile: var(--light-muuri-tile);
  --hierarchy-item: var(--light-hierarchy-item);
  --reference-label: var(--light-label);
  --reference-text: var(--light-text);
  --badge-color: var(--light-badge);
}

body.dark {
  --counters-bg: var(--counters-bg-dark);
  --footer-bg: var(--footer-bg-dark);
  --card-bg: var(--dark-card);
  --card-hover: var(--dark-card-hover);
  --muuri-tile: var(--dark-muuri-tile);
  --hierarchy-item: var(--dark-hierarchy-item);
  --reference-label: var(--dark-label);
  --reference-text: var(--dark-text);
  --ov-bg: var(--ov-bg-dark);
  --badge-color: var(--dark-badge);
}
