{% macro close_button(dismiss_target, label='close', extra_classes='') %}
  <button type="button" class="btn-close {{ extra_classes }}"
          data-bs-dismiss="{{ dismiss_target }}"
          aria-label="{{ _(label)|capitalize }}">
  </button>
{% endmacro %}


{% macro flash_messages() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages mt-5 mb-5">
        {% for cat, message in messages %}
          <div class="alert alert-{{ cat }} alert-dismissible fade show"
               role="alert">

            {{ message }}
            {{ close_button("alert") }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endmacro %}


{% macro overview_image(image, manifests) %}
  <div class="item-half">
    <div class="item-content item-content-full">
      <div class="muuri-images">
        <div class="image position-relative">

          {# 3D-Modell-Ansicht (GLB/GLTF) #}
          {% if image.render_type == '3d_model' %}
            <div class="model-wrapper" style="height: 300px; position: relative;">
              <div class="spinner"></div>
              <model-viewer
                  src="{{ image.url }}" alt="{{ image.title }}"
                  camera-controls style="width: 100%; height: 100%;"
                  ar ar-modes="webxr scene-viewer quick-look"
                  shadow-intensity="1" autoplay></model-viewer>
            </div>

            {# IIIF-Bild, wenn kein WebP #}
          {% elif image.iiif_base_path and image.mimetype|lower != 'image/webp' %}
{#            <a href="{{ image.iiif_base_path }}/full/max/0/default.jpg"#}
              <a href="{{ url_for('view_mirador') }}?urls={{ manifests | join(',') | urlencode }}"

               target="_blank"
               class="hover-max position-absolute bottom-0 end-0 m-2 text-dark bg-white bg-opacity-75 px-2 py-1 rounded"
               style="z-index: 10;">
              <i class="bi bi-arrows-fullscreen"></i>
            </a>
            <img
                src="{{ image.iiif_base_path }}/full/400,/0/default.jpg"
                alt="{{ image.title }}">
          {% else %}
            <img
                src="{{ image.url }}"
                alt="{{ image.title }}">
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endmacro %}