{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="py-5 en">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-project-tab" data-bs-toggle="tab" data-bs-target="#nav-project"
                        type="button" role="tab" aria-controls="nav-project" aria-selected="true">{{ _('projects')
                    |upper }}
                </button>
                <button class="nav-link" id="nav-persons-tab" data-bs-toggle="tab" data-bs-target="#nav-persons"
                        type="button" role="tab" aria-controls="nav-persons" aria-selected="false">{{ _('persons')
                    |upper }}
                </button>
                <button class="nav-link" id="nav-institutions-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-institutions"
                        type="button" role="tab" aria-controls="nav-institutions" aria-selected="false">{{
                    _('institutions') |upper }}
                </button>
                <button class="nav-link" id="nav-attributes-tab" data-bs-toggle="tab" data-bs-target="#nav-attributes"
                        type="button" role="tab" aria-controls="nav-attributes" aria-selected="false">{{ _('attributes')
                    |upper }}
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-project" role="tabpanel" aria-labelledby="nav-project-tab"
                 tabindex="0">
                {% for entry in config_data %}
                    {% if entry.config_class in filters.projects %}
                        <p>{{entry.name}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-persons" role="tabpanel" aria-labelledby="nav-persons-tab" tabindex="0">
                  {% for entry in config_data %}
                    {% if entry.config_class in filters.persons %}
                        <p>{{entry.name}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-institutions" role="tabpanel" aria-labelledby="nav-institutions-tab"
                 tabindex="0">
                {% for entry in config_data %}
                    {% if entry.config_class in filters.institutions %}
                        <p>{{entry.name}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="nav-attributes" role="tabpanel" aria-labelledby="nav-attributes-tab"
                 tabindex="0">
                {% for entry in config_data %}
                    {% if entry.config_class in filters.roles %}
                        <p>{{entry.name}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
