{% extends "layout.html" %}
{% block content %}

<div class="container py-5 en">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for tab in tabs %}
            <button class="nav-link{% if loop.first and not activetab %} active{% endif %} {% if activetab == tab.target %} active {% endif %}"
                    id="{{ tab.id }}" data-bs-toggle="tab"
                    data-bs-target="#{{ tab.target }}" type="button" role="tab" aria-controls="{{ tab.target }}"
                    aria-selected="{{ 'true' if loop.first else 'false' }}">
                {{ tab.label | upper }}
            </button>
            {% endfor %}
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        {% for tab in tabs %}
        <div class="tab-pane fade{% if loop.first and not activetab %} show active{% endif %} {% if activetab == tab.target %} show active {% endif %}"
             id="{{ tab.target }}" role="tabpanel"
             aria-labelledby="{{ tab.id }}" tabindex="0">
            <button type="+" class="btn btn-primary"> +</button>
            <div class="accordion" id="{{tab.label}}accordion">
                {% for entry in config_data %}
                {% if entry.config_class in tab.filter %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button {% if activeentry != tab.target + entry.id|string  %}collapsed{% endif %}"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#{{ tab.target }}{{entry.id}}"
                                aria-expanded="{{ ((tab.target + entry.id|string == activeentry)|string)|lower }}"
                                aria-controls="{{ tab.target }}{{entry.id }}">
                            {{entry.name}}
                        </button>
                    </h2>
                    <div id="{{ tab.target }}{{entry.id}}"
                         class="accordion-collapse collapse {% if activeentry == tab.target + entry.id|string  %} show {% endif %}"
                         data-bs-parent="#{{ tab.label }}accordion">
                        <div class="accordion-body">
                            <form method="POST" action="{{ url_for('add_description') }}" class="projectForm"
                                  needs-validation
                            " id="form{{entry.id}}" novalidate>
                            <input type="hidden" name="config_id" value="{{entry.id}}">
                            <input type="hidden" name="current_tab" value="{{tab.target}}">
                            <input type="hidden" name="current_entry" value="{{tab.target + entry.id|string}}">

                            <div class="row g-3 needs-validation" novalidate>
                                <div class="col-md-4">
                                    <label for="InputProjectName{{entry.id}}" class="form-label">Project
                                        Name</label>
                                    <input type="text" class="form-control" id="InputProjectName{{entry.id}}"
                                           name="projectName" value="{{entry.name or ''}}"
                                           aria-describedby="projectNameHelp{{entry.id}}" disabled>
                                    <div id="projectNameHelp{{entry.id}}" class="form-text"></div>
                                    <div class="invalid-feedback">Please provide a project name.</div>
                                </div>

                                <div class="mb-3">
                                    <label for="InputDescription{{entry.id}}" class="form-label">Description</label>
                                    <textarea class="form-control" id="InputDescription{{entry.id}}"
                                              name="description" aria-describedby="descriptionHelp{{entry.id}}"
                                              disabled>{{entry.description or ''}}</textarea>
                                    <div id="descriptionHelp{{entry.id}}" class="form-text">Description of the
                                        project will be displayed in the "ABOUT" section of the webpage.
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="InputAddress{{entry.id}}" class="form-label">Address</label>
                                    <textarea class="form-control" id="InputAddress{{entry.id}}" name="address"
                                              aria-describedby="addressHelp{{entry.id}}" disabled>{{entry.address or ''}}</textarea>
                                    <div id="addressHelp{{entry.id}}" class="form-text"></div>
                                    <div class="invalid-feedback">Please provide an address.</div>
                                </div>

                                <div class="col-md-4">
                                    <label for="InputMail{{entry.id}}" class="form-label">E-mail</label>
                                    <input type="text" class="form-control" id="InputMail{{entry.id}}" name="mail"
                                           value="{{entry.email or ''}}" aria-describedby="mailHelp{{entry.id}}"
                                           disabled>
                                    <div id="mailHelp{{entry.id}}" class="form-text"></div>
                                    <div class="invalid-feedback">Please provide an email-address.</div>
                                </div>

                                <div class="col-md-6">
                                    <label for="InputWebsite{{entry.id}}" class="form-label">Website</label>
                                    <input type="url" class="form-control" id="InputWebsite{{entry.id}}"
                                           name="website" value="{{entry.website or ''}}"
                                           aria-describedby="websiteHelp{{entry.id}}" disabled>
                                    <div id="websiteHelp{{entry.id}}" class="form-text"></div>
                                </div>

                                <div class="col-md-4">
                                    <label for="InputOrcid{{entry.id}}" class="form-label">ORCID-ID</label>
                                    <input type="text" class="form-control" id="InputOrcid{{entry.id}}" name="orcid"
                                           value="{{entry.orcid_id or ''}}" aria-describedby="orcidHelp{{entry.id}}"
                                           disabled>
                                    <div id="orcidHelp{{entry.id}}" class="form-text"></div>
                                </div>
                            </div>


                            <!-- Edit Button -->
                            <button type="button" class="btn btn-primary" id='edit{{entry.id}}'
                                    onclick="enableEdit({{entry.id}})">Edit
                            </button>

                            <!-- Delete Button -->
                            <button type="button" class="btn btn-danger" id='delete{{entry.id}}'
                                    value="{{entry.id}}" onclick="confirmDelete()">Delete
                            </button>

                            <!-- Save Button (Initially hidden) -->
                            <button type="submit" class="btn btn-primary d-none" id='save{{entry.id}}'
                                    value="{{entry.id}}">Save
                            </button>

                            <!-- Cancel Button (Initially hidden) -->
                            <button type="button" class="btn btn-primary d-none" id='cancel{{entry.id}}'
                                    onclick="cancelEdit({{entry.id}})">Cancel
                            </button>

                            <!-- Flash messages block -->
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                <div class="flash-messages">
                                    {% for category, message in messages %}
                                    {% if category in ["success", "danger"] %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% endwith %}
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function enableEdit(entryId) {
        var form = document.getElementById('form' + entryId);
        var fields = form.querySelectorAll('input, textarea');

        // Store current values to restore them if editing is canceled
        fields.forEach(function(field) {
            field.dataset.originalValue = field.value;
            field.removeAttribute('disabled');
        });

        // Show Save and Cancel buttons, hide Edit and Delete buttons
        document.getElementById('edit' + entryId).classList.add('d-none');
        document.getElementById('delete' + entryId).classList.add('d-none');
        document.getElementById('save' + entryId).classList.remove('d-none');
        document.getElementById('cancel' + entryId).classList.remove('d-none');
    }

    function cancelEdit(entryId) {
        var form = document.getElementById('form' + entryId);
        var fields = form.querySelectorAll('input, textarea');

        // Restore original values and disable the fields again
        fields.forEach(function(field) {
            field.value = field.dataset.originalValue;
            field.setAttribute('disabled', 'disabled');
        });

        // Show Edit and Delete buttons, hide Save and Cancel buttons
        document.getElementById('edit' + entryId).classList.remove('d-none');
        document.getElementById('delete' + entryId).classList.remove('d-none');
        document.getElementById('save' + entryId).classList.add('d-none');
        document.getElementById('cancel' + entryId).classList.add('d-none');
    }

    function confirmDelete() {
        if (confirm("Are you sure you want to delete the database entry?")) {
            // Code to delete the entries
            // You can make an AJAX request to the server to delete the entries here
            // For demonstration purposes, let's assume a function called deleteEntries() is responsible for deleting the entries
            deleteEntries();
        }
    }

    function deleteEntries() {
        // Your code to delete the entries from the database
        // This function should handle the actual deletion of entries
        // You can use AJAX to send a request to the server to delete the entries
        // Once the entries are deleted, you can perform any necessary UI updates
    }


</script>

{% endblock %}
