{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <link href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator_bootstrap5.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="/static/js/entityfunctions.js"></script>

    <script>
        const tabsToLoad = {{ sidebar_elements | sort(attribute='order') | map(attribute='route') | list | tojson }};
        const entityId = {{ entity_id }};
        {% if entity_id == 0 %}
            const viewClasses = {{ view_classes|tojson }};
            const data = {{ data|tojson }}
            function getEntitiesForTab(tabName) {
                const validTypes = viewClasses[tabName] || [];
                return data.entities.filter(entity => validTypes.includes(entity.class));
            }

            data.entities.forEach(entity => {
                entity.beginDBP = calculateTimeBP(entity.begin, true);
                entity.endDBP = calculateTimeBP(entity.end, false);
            });

        {% endif %}
    </script>

    <div class="entity-container">
        <div class="row g-0 d-flex">
            <!-- Navigation-Sidebar -->
            <div id="nav-sidebar" class="col col-auto d-none d-md-flex flex-column bg-body-tertiary align-items-center">
                <ul class="nav nav-pills flex-column text-center w-100">
                    {% for item in sidebar_elements %}
                        <li class="nav-item d-none to-remove-{{ item.route }}" role="presentation">
                            <a
                                    class="nav-link d-flex align-items-center {{ 'active' if active_tab == item.route else '' }}"
                                    id="tab-{{ item.route }}" data-bs-toggle="tab"
                                    title="{{ item.label if item.label else item.route }}"
                                    data-bs-target="#tab-pane-{{ item.route }}" role="tab"
                                    aria-controls="tab-pane-{{ item.route }}"
                                    aria-selected="{{ 'true' if loop.first else 'false' }}">

                                {% if 'icon' in item %}
                                    <i class="bi {{ item.icon }} fs-5"></i>
                                {% else %}
                                    <img src="/static/images/entity_icons/{{ item.route[:-1] | lower }}.png"
                                         alt="{{ item.route }}" class="fs-5" style="width: 30px; height: 30px;"/>
                                {% endif %}

                                <span class="ms-2">
                                    {{ item.label if item.label else item.route }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                    <li class="nav-item to-remove-spinner" role="presentation">
                        <button title="loading"
                                class="nav-link d-flex align-items-center"
                                id="tab-spinner">
                            <i class="spinner-border"></i>
                        </button>
                    </li>
                </ul>
            </div>


            <div class="col flex-column">
                <div class="entity-content">
                    {% for item in sidebar_elements %}
                        <div class="tab-pane fade d-none to-remove-{{ item.route }} {{ 'show active' if active_tab == item.route else '' }}"
                             id="tab-pane-{{ item.route }}" role="tabpanel" aria-labelledby="tab-{{ loop.index }}">
                            <div id="pane-content-{{ item.route }}">
                                <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <span>{{ item.route }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col flex-column grid">
                <div id="right-sidebar" class="bg-body-secondary">
                    lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor
                    sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem
                    ipsum dolor sit amet
                    lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor
                    sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem
                    ipsum dolor sit amet
                    lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor
                    sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem
                    ipsum dolor sit amet
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/entity.js') }}"></script>
{% endblock %}

