<footer class="footer p-3 footercontent">
        <a href="https://www.nhm-wien.ac.at/" target="_blank">
            <img class="footerimg img-fluid" src="/static/images/logos/nhm_logo.png"></a>
        <a href="https://erc.europa.eu/homepage" target="_blank">
            <img class="footerimg img-fluid" src="/static/images/logos/ERC_logo.png"></a>
            <a href="https://univie.ac.at/" target="_blank">
            <img class="footerimg img-fluid" src="/static/images/logos/Uni_Logo.png"></a>
        <a href="https://openatlas.eu/" target="_blank">
            <img class="footerimg img-fluid" src="/static/images/logos/openatlas_logo.png"></a>
</footer>
