{% extends "layout.html" %}

{% block content %}
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-qz6H0r+PpZt4ZcLpNl3MTExBeY0Q/JtqioQK+M51xK4="
      crossorigin=""/>

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<!-- Custom JavaScript -->
<script defer src="{{ url_for('static', filename='js/map.js') }}"></script>

<main class="container-fluid no-gutter" id="home-map" style="display: flex; flex-direction: column;">
    <div id="map" style="flex: 1;"></div>

    <div id="counters" class="row text-center pt-2">
    <div class="col-6 col-sm">
      <h4 class="statistic-counter">563</h4>
      <p>Places</p>
    </div>
    <div class="col-6 col-sm">
      <h4 class="statistic-counter">5363</h4>
      <p>Actors</p>
    </div>
    <div class="col-6 col-sm">
      <h4 class="statistic-counter">5643</h4>
      <p>Events</p>
    </div>
    <div class="col-6 col-sm">
      <h4 class="statistic-counter">11555</h4>
      <p>Artifacts</p>
    </div>
    <div class="col-6 col-sm">
      <h4 class="statistic-counter">6169</h4>
      <p>Sources</p>
    </div>
  </div>
</main>

{% include 'footer.html' %}

{% endblock %}
