{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
    const chosenMap = {{map | safe}}
    const imgString = '{{ img|safe }}'
    const imgOrMap = '{{ img_map|safe }}'
</script>


<div id="index-container">
    <div id="index-image"></div>
    <div id="map" class="{% if greyscale %}map-gray{% endif %}"></div>
</div>

<div id="counters" class="text-center pt-3">
    <div class="row gx-0">
        {% for view_class, details in view_classes.items() %}
        <div class="col-6 col-sm">
            <h5 class="statistic-counter">{{ details['count'] }}</h5>
            <p>{{view_class | capitalize_first}}</p>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Hover cards_home-->
<div class="cards_home">
    <div class="card_home card_home--places">
      <div class="card_home__icon">
        <img src="/images/places_550.png" alt="Places">
      </div>
      <div class="card_home__label">Places</div>
      <div class="card_home__description">Lorem ipsum dolor sit amet consectetur. Risus malesuada feugiat sit integer
        non. Nisl blandit at scelerisque id arcu nisi nisl lacus.
      </div>
    </div>

    <div class="card_home card_home--actors">
      <div class="card_home__icon">
        <img src="/images/actors_550.png" alt="Actors">
      </div>
      <div class="card_home__label">Actors</div>
      <div class="card_home__description">Lorem ipsum dolor sit amet consectetur. Risus malesuada feugiat sit integer
        non. Nisl blandit at scelerisque id arcu nisi nisl lacus.
      </div>
    </div>

    <div class="card_home card_home--events">
      <div class="card_home__icon">
        <img src="/images/events_550.png" alt="Events">
      </div>
      <div class="card_home__label">Events</div>
      <div class="card_home__description">Lorem ipsum dolor sit amet consectetur. Risus malesuada feugiat sit integer
        non. Nisl blandit at scelerisque id arcu nisi nisl lacus.
      </div>
    </div>

    <div class="card_home card_home--artifacts">
      <div class="card_home__icon">
        <img src="/images/artifacts_550.png" alt="Artifacts">
      </div>
      <div class="card_home__label">Artifacts</div>
      <div class="card_home__description">Lorem ipsum dolor sit amet consectetur. Risus malesuada feugiat sit integer
        non. Nisl blandit at scelerisque id arcu nisi nisl lacus.
      </div>
    </div>

    <div class="card_home card_home--sources">
      <div class="card__icon">
        <img src="/images/sources_550.png" alt="Sources">
      </div>
      <div class="card_home__label">Sources</div>
      <div class="card_home__description">Lorem ipsum dolor sit amet consectetur. Risus malesuada feugiat sit integer
        non. Nisl blandit at scelerisque id arcu nisi nisl lacus.
      </div>
    </div>
</div>


{% include 'footer.html' %}


<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}
