{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>


<div class="container-fluid">
    <div class="row">
        <!-- Main content columns -->
        <div class="col-md-10" id="content-columns">
            <div class="row">
                <div class="col-md-4 column" id="col1">Linked Entities</div>
                <div class="col-md-4 column" id="col2">Description</div>
                <div class="col-md-4 column" id="col3">Location</div>
            </div>

            <!-- Bottom bar -->
            <div class="row">
                <div class="col-12 bottom-bar" id="bottom-bar">
                    Bottom Bar Content
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-2 sidebar" id="sidebar">
            <div class="sidebar-content">
                <div class="entity-card__icon">
                    <img src="/static/images/entity_icons/places_550.png" alt="Places">
                </div>
                <div class="entity-card__label">Name of entity</div>

                <div class="entity-type"> Type of entity</div>
                <div class="entity-date"> Date of entity</div>


            </div>
        </div>
    </div>


    {% include 'footer.html' %}
    {% endblock %}