<!DOCTYPE html>
<html lang="{{ CURRENT_LANGUAGE }}">
<head>

    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/node_modules/@fontsource/inter/index.css">
    <link rel="stylesheet" href="/static/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="/static/js/darkLightMode.js"></script>

    <meta charset="UTF-8">
    <title>Histarchexplorer</title>
</head>
<body>
<header>
    {% include 'navbar.html' %}
</header>
<main>
    {% block content %}{% endblock %}
    </main>
<footer>

</footer>
</body>
</html>
