<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    {% block page_name %}{% endblock %}
    {% if page_name == "landing" %}
      <button id="toggleSidebar" class="btn btn-secondary" type="button">
        <i class="bi bi-list"></i>
      </button>
    {% endif %}
    <a class="navbar-brand" title="{{ _('home') }}"
       href="{{ url_for('index') }}">
      <img id="logo" src="/static/images/logos/logo_mode_light.svg">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse"
            aria-controls=".navbar-collapse" aria-expanded="false"
            aria-label="Toggle navigation">
      <i class="bi bi-three-dots-vertical"></i>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for nav_item in navbar %}
          {% for category, title in nav_item.items() %}
            <li class="nav-item">
              <a class="nav-link nav-link-hover {% if category == request.endpoint %}active{% endif %}"
                 aria-current="page"
                 title="{{ title }}"
                 href="{{ url_for(category) }}">{{ _(category) | upper }}
              </a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" id="dark" role="button" onclick="setTheme(this.id)"
             title="{{ _('toggle dark/light mode') }}">
            <i class="bi bi-moon"></i>
          </a>
          <a class="nav-link" id="light" role="button" onclick="setTheme(this.id)"
             title="{{ _('toggle dark/light mode') }}">
            <i class="bi bi-sun"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-globe me-2"></i><span id="language">{{ CURRENT_LANGUAGE }}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for lang in AVAILABLE_LANGUAGES.items() %}
              <li><a class="dropdown-item"
                     href="{{ url_for('set_language', language=lang[0] ) }}">{{ lang[0] }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
