<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" title="{{_('home')}}" href="{{url_for('index')}}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% for nav_item in navbar %}
                {% for item in nav_item %}
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" title="{{ item['title'] }}"
                     href="{{ url_for(item['original'])}}">{{ _(item['translation']) | upper }}
                  </a>
                </li>
                  {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
  <div
          class="translation list-group list-group-flush align-end d-lg-block col-2">
        {% for language in AVAILABLE_LANGUAGES.items() %}
          <div class="list-group-item bg-transparent text-center">
            {% if CURRENT_LANGUAGE == language[0] %}
              <span class="fw-bold text-secondary">{{ language[1] }}</span>
            {% else %}
              <a href="{{ url_for('set_language', language=language[0]) }}"
                 class="text-decoration-none fw-normal text-secondary">
                {{ language[1] }}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
</nav>
