<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" title="{{ _('home') }}"
       href="{{ url_for('index') }}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for nav_item in navbar %}
          {% for category, title in nav_item.items() %}
            <li class="nav-item">
              <a class="nav-link {% if category == current_page %}active{% endif %}" aria-current="page" title="{{ title }}"
                 href="{{ url_for(category) }}">{{ _(category) | upper }}
              </a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
<div class="collapse navbar-collapse justify-content-end mode-switch">
            <button title="Use dark mode" id="dark" class="btn btn-sm btn-default text-secondary">
                <i class="bi bi-moon"></i>
            </button>
            <button title="Use light mode" id="light" class="btn btn-sm btn-default text-secondary">
                <i class="bi bi-sun"></i>
            </button>
            <button title="Use system preferred mode" id="system" class="btn btn-sm btn-default text-secondary">
                <i class="bi bi-display"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-globe me-2"></i><span id="language">{{CURRENT_LANGUAGE}}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for lang in AVAILABLE_LANGUAGES.items() %}
                        <li><a class="dropdown-item"
                               href="{{ url_for('set_language', language=lang[0] )}}">{{lang[0]}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
  </div>
</nav>
