# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code stuff
.vscode

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Flask stuff:
instance/
.webassets-cache
!instance/example_*
!instance/__init__.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pycharm
.idea/

# Project specific files
**/node_modules
node_modules/

.sass-cache
.sass-cache/

tiles/


# SCSS build output
/static/css/main.css
/static/*.map
/static/node_modules/
/static/css/components/
/static/css/gloabls/

# Node dependencies
/node_modules/

# Python cache
*.pyc
