:root {
  --light-card: hsl(0, 0%, 85%);
  --dark-card: hsl(0, 0%, 49%);
  --footer-bg-light: transparent;
  --footer-bg-dark: hsl(0, 0%, 31%);
  --counters-bg-light: hsla(208, 34%, 60%, 0.75);
  --counters-bg-dark: hsla(208, 24%, 44%, 0.74);
  --logo-height: 132px;
  --navbar-height: 96px;
}

body.light {
  --counters-bg: var(--counters-bg-light);
  --footer-bg: var(--footer-bg-light);
  --card-bg: var(--light-card);
}

body.dark {
  --counters-bg: var(--counters-bg-dark);
  --footer-bg: var(--footer-bg-dark);
  --card-bg: var(--dark-card);
}

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
}

.maxscreen-footer-nav {
  height: calc(100vh - var(--navbar-height) - var(--logo-height));
}

.navbar-brand {
  height: 80px;
  align-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.navbar-brand #logo {
  max-width: 260px;
}
@media (max-width: 576px) {
  .navbar-brand {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-nav .nav-link-hover {
  border-bottom: 2px solid transparent;
}
.navbar-nav .nav-link-hover:hover {
  border-color: unset;
  transition: border-color 0.3s ease;
  transform: scaleX(1.01);
}
.navbar-nav.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #151515;
}

.team-card {
  padding: 1.5rem;
  border-radius: 10px;
  background: var(--card-bg);
  color: black;
}
.team-card .col-lg-4 {
  padding-top: 2rem;
}
.team-card__member {
  font-size: 1.8em;
  padding-top: 0.5rem;
}
.team-card p {
  margin-bottom: 0;
}

.legal-card {
  padding: 1rem;
  border-radius: 10px;
}

.sponsor-container {
  padding-top: 1rem;
}
.sponsor-container .row > .col-md-3 img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.sponsor-container .row > .col-md-3 img:hover {
  transform: scale(0.9);
}
.sponsor-container .row > div {
  padding: 1.5rem;
  text-align: left;
  position: relative;
  overflow: hidden;
}
.sponsor-container .row > div::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: calc(100% - 4rem);
  background-color: grey;
}
.sponsor-container .row > div:nth-child(4n)::before {
  display: none;
}
@media (max-width: 767px) {
  .sponsor-container .row > div {
    border-bottom: 1px solid grey;
  }
  .sponsor-container .row > div::before {
    display: none;
  }
  .sponsor-container .row > div:last-child {
    border-bottom: none;
  }
}

.footercontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: var(--logo-height);
  background: var(--footer-bg);
}

.footerimg {
  padding: 1rem;
}

.button-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.d-none-at-all {
  display: none !important;
}

#index-container {
  height: calc(100vh - var(--logo-height) - var(--navbar-height) - 95px);
}

#map {
  width: 100%;
  height: 100%;
}

#index-image {
  width: 100%;
  height: 100%;
  display: none;
}

.map-gray .leaflet-map-pane > .leaflet-pane:not(.leaflet-marker-pane) {
  -webkit-filter: grayscale(100%) opacity(0.9);
  filter: grayscale(100%) opacity(0.9);
}

#counters {
  background-color: var(--counters-bg);
  min-height: 95px;
  max-width: 100vw;
}

#index-image {
  background-image: url("/static/images/index_map_bg/Blank_map_of_Europe_central_network.png");
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 100%;
}

/*# sourceMappingURL=main.css.map */
