p {
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
    color: grey;
}

.navbar-brand {
    width: 260px;
    height: 30px;
    background-image: url('../images/logos/thanados.png');
    background-size: cover;
}

@media (max-width: 991px) {
    .navbar-brand {
        width: 30px;
        height: 30px;
        background-image: url('../images/logos/thanados_small.png');
        background-size: cover;
    }
}


  .navbar-nav .nav-link {
  position: relative;
  /* Set transparent border by default */
  border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link:hover {
  /* Change border color on hover */
  border-color: var(--border-color);
  transition: border-color 0.3s ease;
  transform: scaleX(1.01); /* Scale the border width on hover */
}

.navbar-nav.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: rem(50);
  left: 50%; /* Adjust to center the border under the text */
  transform: translateX(-50%); /* Center the border horizontally */
  height: 2px;
  background-color: #151515;
}


