{% extends "layout.html" %}
{% block content %}
  <script>
    const file_id = {{ file_id|tojson }};
  </script>
  <style>

  </style>
  <div class="page-wrapper">
    <div class="scrollable-container">
      <div class="container-fluid">
        <div id="iiif-viewer" class="mirador-container">
          <script
            src="/static/node_modules/mirador/dist/mirador.min.js"></script>
          <script
            src="{{ url_for('static', filename='js/viewer/iiif.js') }}"></script>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
