
<div class="button-card me-3">
  <button id="warmCacheButton" class="btn btn-info" data-bs-toggle="tooltip" title="{{ _('This warms the application cache') }}">
    {{ _('warm cache') | upper }}
  </button>
</div>


<div class="button-card me-3">
  <button id="clearCacheButton" class="btn btn-secondary" data-bs-toggle="tooltip" title="{{ _('Clear the cache to free up space') }}">
    {{ _('clear cache') | upper }}
  </button>
</div>

<div class="button-card me-3">
  <button id="warmEntityCache" class="btn btn-warning" data-bs-toggle="tooltip" title="{{ _('This warms every entity') }}">
    {{ _('warm entity cache') | upper }}
  </button>
</div>
