<div class="button-card me-3">
  <button id="refreshSystemCache" class="btn btn-info"
          data-bs-toggle="tooltip"
          title="{{ _('Refreshes the system cache.') }}">
    {{ _('refresh system cache') | upper }}
  </button>
</div>

<div class="button-card me-3">
  <button id="warmEntityCache" class="btn btn-warning" data-bs-toggle="tooltip"
          title="{{ _('This will cache all not cached entities.') }}">
    {{ _('warm entity cache') | upper }}
  </button>
</div>

<div class="button-card me-3">
  <button id="refreshEntityCache" class="btn btn-danger" data-bs-toggle="tooltip"
          title="{{ _('This completely refreshes the cache.') }}">
    {{ _('refresh entity cache') | upper }}
  </button>
</div>

<div class="button-card me-3">
  <button id="clearCacheButton" class="btn btn-warning"
          data-bs-toggle="tooltip"
          title="{{ _('Clear the cache to free up space') }}">
    {{ _('clear cache') | upper }}
  </button>
</div>

