{{ ui.flash_messages('map success', 'success') }}
{{ ui.flash_messages('map danger', 'danger') }}

<div class="accordion" id="mapsAccordion">
  {% for map in maps %}
    <div class="accordion-item" id="mapItem-{{ map.id }}"
         data-id="{{ map.id }}"
         data-order="{{ map.sortorder }}">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed"
                type="button" data-bs-toggle="collapse"
                data-bs-target="#map{{ map.id }}"
                aria-expanded="false"
                aria-controls="map{{ map.id }}">
          {{ map.display_name }}
        </button>
      </h2>
      <div id="map{{ map.id }}"
           class="accordion-collapse collapse"
           data-bs-parent="#mapsAccordion">
        <div class="accordion-body">
          <form method="POST"
                action="{{ url_for('edit_map') }}"
                class="projectForm needs-validation"
                id="mapForm{{ map.id }}"
                novalidate>
            <input type="hidden" name="map_id" value="{{ map.id }}">
            <div class="row needs-validation">
              <div class="col-md-6">
                <label for="InputName{{ map.id }}" class="form-label">
                  {{ _('name')|capitalize }}
                </label>
                <input type="text" class="form-control"
                       id="InputName{{ map.id }}"
                       name="name" value="{{ map.name or '' }}"
                       aria-describedby="NameHelp{{ map.id }}"
                       disabled required>
                <div class="invalid-feedback">
                  {{ _('Please provide a name') }}.
                </div>
              </div>
              <div class="col-md-6">
                <label for="InputDispName{{ map.id }}" class="form-label">
                  {{ _('Display Name') }}
                </label>
                <input type="text"
                       class="form-control"
                       id="InputDispName{{ map.id }}"
                       name="displayname"
                       value="{{ map.display_name or '' }}"
                       aria-describedby="DispNameHelp{{ map.id }}"
                       disabled required>
                <div
                  class="invalid-feedback">{{ _('Please provide a name') }}.
                </div>
              </div>
              <div class="col-md-2 d-none">
                <label for="InputOrder{{ map.id }}" class="form-label">
                  {{ _('order')|capitalize }}
                </label>
                <input type="text" class="form-control"
                       id="InputOrder{{ map.id }}"
                       name="inputorder" value="{{ map.sortorder }}"
                       aria-describedby="MapOrder{{ map.id }}"
                       disabled required>
                <div class="invalid-feedback">
                  {{ _('Please provide an order') }}.
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <label for="InputDescription{{ map.id }}"
                       class="form-label">
                  {{ _('Leaflet Tile Layer String') }}
                </label>
                <textarea class="form-control"
                          id="InputDescription{{ map.id }}"
                          name="description"
                          aria-describedby="descriptionHelp{{ map.id }}"
                          disabled>{{ map.tilestring or '' }}
                    </textarea>
              </div>
            </div>

            <div class="mt-3 text-end">
              <button type="button" class="btn btn-primary"
                      id='editMap{{ map.id }}'
                      onclick="editMap({{ map.id }}, true)">{{ _('edit')|capitalize }}
              </button>
              <button type="button"
                      class="btn btn-danger"
                      id='deleteMap{{ map.id }}'
                      value="{{ map.id }}"
                      onclick="deleteMap({{ map.id }}, '{{ map.name }}')"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal">{{ _('delete')|capitalize }}
              </button>
              <button type="button" class="btn btn-secondary d-none"
                      id='cancelMap{{ map.id }}'
                      onclick="editMap({{ map.id }}, false)">{{ _('cancel')|capitalize }}
              </button>

              <button type="submit" class="btn btn-primary d-none"
                      id='saveMap{{ map.id }}'
                      value="{{ map.id }}">{{ _('save')|capitalize }}
              </button>

            </div>
          </form>
        </div>
      </div>
    </div>

  {% endfor %}
</div>
<button class="btn btn-primary m-2 float-end" onclick="addMap('map')">
  {{ _('add entry')|capitalize }}
</button>
