<div class="card mt-3 mb-5">
  <div class="card-body">
    <h5 class="card-title">{{ _('menu management') | upper }}</h5>
    <form id="menuManagementForm" action="{{ url_for('update_menu_management') }}" method="POST">
      <input type="hidden" name="active_sidebar" value="sidebar-content-group">
      <table class="table">
        <thead>
        <tr>
          <th>{{ _('Menu Item') }}</th>
          <th>{{ _('Show') }}</th>
          <th>{{ _('Page Type') }}</th>
        </tr>
        </thead>
        <tbody>
        {% set static_items = ['Start page', 'Legal notice'] %}
        {% for item in static_items %}
          {% set item_key = item|lower|replace(' ', '_') %}
          <tr>
            <td>{{ _(item) }}</td>
            <td>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox"
                       id="show_{{ item_key }}"
                       name="show_{{ item_key }}"
                       checked disabled>
              </div>
            </td>
            <td>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="page_type_{{ item_key }}"
                       id="default_{{ item_key }}"
                       value="default"
                        {% if settings.menu_management[item_key].page_type == 'default' %}checked{% endif %}>
                <label class="form-check-label"
                       for="default_{{ item_key }}">{{ _('Default') }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="page_type_{{ item_key }}"
                       id="individual_{{ item_key }}"
                       value="individual"
                        {% if settings.menu_management[item_key].page_type == 'individual' %}checked{% endif %}>
                <label class="form-check-label"
                       for="individual_{{ item_key }}">{{ _('Individual') }}</label>
              </div>
            </td>
          </tr>
        {% endfor %}

        {% set menu_items = ['About', 'Publications', 'Outcome', 'Search', 'Footer'] %}
        {% for item in menu_items %}
          {% set item_key = item|lower|replace(' ', '_') %}
          <tr>
            <td>{{ _(item) }}</td>
            <td>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox"
                       id="show_{{ item_key }}"
                       name="show_{{ item_key }}"
                        {% if settings.menu_management[item_key].show %}checked{% endif %}>
              </div>
            </td>
            <td>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="page_type_{{ item_key }}"
                       id="default_{{ item_key }}"
                       value="default"
                        {% if settings.menu_management[item_key].page_type == 'default' %}checked{% endif %}>
                <label class="form-check-label"
                       for="default_{{ item_key }}">{{ _('Default') }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="page_type_{{ item_key }}"
                       id="individual_{{ item_key }}"
                       value="individual"
                        {% if settings.menu_management[item_key].page_type == 'individual' %}checked{% endif %}>
                <label class="form-check-label"
                       for="individual_{{ item_key }}">{{ _('Individual') }}</label>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">{{ _('Save Changes') }}</button>
    </form>
  </div>
</div>
