{% extends "layout.html" %}
{% block content %}
  <ul>
    <li>
      <a href="{{ url_for('test_entity', id_=50505) }}">
        Get one entity with ID (e.g. 50505)
      </a>
    </li>
    <li>
      <a href="{{ url_for('test_system_class', class_='person') }}">
        Get all entities of a system class, e.g. Person, and show it as a list
      </a>
    </li>
    <li>
      <a href="{{ url_for('test_subunit', id_=50505) }}">
        Get Subunit in Thanados format
      </a>
    </li>
  </ul>

{% endblock %}
