.team-card {
  padding: 1.5rem;
  border-radius: 10px;
  background: var(--card-bg);
  color: black;

  .col-lg-4 {
    padding-top: 2rem;
  }

  &__member {
    font-size: 1.8em;
    padding-top: 0.5rem;
  }

  p {
    margin-bottom: 0;
  }
}

.legal-card {
  padding: 1rem;
  border-radius: 10px;
}

.sponsor-container {
  padding-top: 1rem;

  .row {
    > .col-md-3 {
      img {
        max-width: 100%;
        height: auto;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(0.9);
        }
      }
    }

    > div {
      padding: 1.5rem;
      text-align: left;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 1px;
        height: calc(100% - 4rem);
        background-color: grey;
      }

      &:nth-child(4n)::before {
        display: none;
      }

      @media (max-width: 767px) {
        &::before {
          display: none;
        }
        border-bottom: 1px solid grey;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
