.team-card {
    padding: 1.5rem 1.5rem;
  border-radius: 10px;
  background: var(--light-card);
  color: black;

  .col-lg-4 {
    padding-top: 2rem;
  }

  &__member {
    font-size: 1.8em;
    padding-top: 0.5rem;
  }
  p {
    margin-bottom: 0;
  }
}

.legal-card{
  padding: 1rem 1rem;
  border-radius: 10px;
}

 .sponsor-container {
    padding-top: 1rem;

    .row {
        position: relative;

        > div {
            padding: 1.5rem;
            text-align: left;
            position: relative;
            overflow: hidden; // Hide overflow to prevent border from overflowing

            // pseudo-element for border
            &::before {
                content: "";
                position: absolute;
                top: 50%; // Position the border vertically centered
                transform: translateY(-50%); // Adjust to vertically center the border
                right: 0;
                width: 1px;
                height: calc(100% - 4rem); // Border spans the height of the text
                background-color: grey;
            }
        }

        // Remove border from the last column
        > div:last-child::before {
            display: none;
        }
    }

    // Styles for sponsor links
    a {
        color: grey; /* Set the color to grey */
        text-decoration: underline; /* Add underline */
    }
}
