.button-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.d-none-at-all {
  display: none !important;
}

.dropdown-menu-columns {
  column-count: 2;
  li {
    width: max-content;
    padding-right: 1rem;
  }
}

.btn-lang-switch {
  padding: 0.1rem 0.35rem;
  font-size: 0.65rem;
  line-height: 1.2;
}
