.footercontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: var(--logo-height);
    max-height: var(--logo-height);
    //background: grey;
}

.footerimg{
padding: 1rem;}

.footer {
  background: transparent;
  }

// Media query to target dark mode
@media (prefers-color-scheme: dark) {
  .footer {
    background: var(--footer-bg-dark);
}
}

