.footercontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: var(--logo-height);
  //background: grey;
}

.footerimg {
  padding: 1rem;
}

.footer {
  background: var(--footer-bg);
}


