.footercontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: var(--logo-height);
  background: var(--footer-bg);
  //background: grey;
}

.footerimg {
  padding: 1rem;
}


