.footercontent {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-around;
  min-height: var(--logo-height);
  background: var(--footer-bg);
}

.footerimg {
  padding: 1rem;
  max-height: 120px;
}


