.main-entity-ellipse{
    height: 80px;
    width: 150px;
    border-radius: 50%;
    border-color: grey;
}

.hierarchy-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hierarchy-button {
    button {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}


.line {
    background-color: grey;
    height: 15px;
    width: 1px;
    margin: 5px 0;
}