.main-entity-ellipse{
    height: 80px;
    width: 150px;
    border-radius: 50%;
    border-color: grey;
}

.hierarchy-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hierarchy-button {
    button {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.btn-hierarchy {
  --bs-btn-color: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-bg: rgba(255, 255, 255, 0.5);
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}


.line {
    background-color: grey;
    height: 15px;
    width: 1px;
    margin: 5px 0;
}