#home-map {
  height: calc(100vh - var(--logo-height) - var(--navbar-height))
}

#map{
  position: relative;
  z-index: 1;
}

.no-gutter {
  padding: 0
}

.map-gray .leaflet-map-pane > .leaflet-pane:not(.leaflet-marker-pane) {
-webkit-filter: grayscale(100%) opacity(0.9);
filter: grayscale(100%) opacity(0.9);
}