#index-container {
  height: calc(100vh - var(--logo-height) - var(--navbar-height) - 95px);
}

#counters {
  background-color: var(--counters-bg);
  min-height: 95px;
  max-width: 100vw;
}

#map {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 0;
}

.map-gray .leaflet-map-pane > .leaflet-pane:not(.leaflet-marker-pane) {
  -webkit-filter: grayscale(100%) opacity(0.9);
  filter: grayscale(100%) opacity(0.9);
}
#index-image {
  width: 100%;
  height: 100%;
  display: none;
  background-image: url('/static/images/index_map_bg/Blank_map_of_Europe_central_network.png');
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  max-height: 100%;
}