.grid {
  position: relative;
}

.hidden {
  display: none !important;
}

/* Expanded-map - col-md-10 */
.expanded-map {
  width: calc(100vw - 23%);
  height: calc(100vh - 120px);
  padding: 0rem;
}

/* Hide fullscreen button when expanded */
//.expanded-map .location:hover #fullscreen-button {
//  opacity: 0;
//}

.item {

  display: block;
  margin: 5px;
  position: absolute;
  width: calc((100% - 30px) / 3);
  background: var(--muuri-tile);
  overflow: hidden;
}

@media (max-width: 992px) { // Below col-md breakpoint
  .item {
    width: calc((100% - 20px) / 2); // 2 tiles
  }
}

@media (max-width: 766px) { // Mobile
  .item {
    width: calc(100% - 10px); // 1 tile
  }
}

.item-middle {
  width: calc(((100%) / 3) * 2); //2 tiles width
}

@media (max-width: 992px) { // two tiles
  .item-middle {
    width: calc(100% - 20px);
  }
}

@media (max-width: 766px) { // one tile
  .item-middle {
    width: calc(100% - 10px);
  }
}

.item-wide {
  width: calc(100% - 30px); // full width of three tiles
}

@media (max-width: 992px) { // two tiles
  .item-wide {
    width: calc(100% - 20px);
  }
}

@media (max-width: 766px) { // one tile
  .item-wide {
    width: calc(100% - 10px);
  }
}

.item-fit {
  display: block;
  margin: 5px;
  position: absolute;
  width: calc((100% - 30px) / 3);
  background: var(--muuri-tile);
  overflow: hidden;
  max-height: fit-content;
}


.item-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
}


.tile-label {
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
  top: 0.5rem;
}

.muuri-description {
  p {
    max-height: 700px;
    margin-top: 1.5rem;

    // These are technically the same, but use both
    overflow-wrap: break-word;
    word-wrap: break-word;

    // This is for IE
    -ms-word-break: break-all;
    // Dangerous in WebKit as it breaks words anywhere
    word-break: break-all;
    // Better alternative (non-standard)
    word-break: break-word;

    // Adds hyphens where words break, if supported (No Blink)
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

//Map-Style
.location {
  width: 100%;
  height: calc(100vh - 152px);
}

#muuri-map {
  margin-top: 1.5rem;
  height: 100%;
  width: 100%;
}

.map-wrapper {
  position: relative;
}

.location:hover #expand-button {
  opacity: 1;
}

#expand-button {
  position: absolute;
  top: 1rem;
  right: 10px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  z-index: 1000;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
  opacity: 0;
  //pointer-events: none;
  transition: ease-in 0.3s;


  // Icon styling
  i {
    font-size: 1.2rem;
  }
}

//Related Entities/Subentities
.subentities {
  max-height: 700px;
}

.no-bullets {
  list-style: none;
}

.entity-list {
  font-size: 1em;
  font-weight: lighter;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.muuri-references {
  p {
    max-height: 700px;
    overflow: auto;
    margin-top: 1.5rem;
  }
}


//Sidebar
.sidebar {
  background-color: var(--card-bg);
  height: calc(100vh - var(--navbar-height));
  color: black;
  text-align: center;
}

.sidebar-content {
  margin-top: 2rem;
}

.super-entity {
  font-weight: lighter;
}

.nude-link {
  color: inherit;
  font-weight: inherit;
}

.entity-country {
  margin-top: 1rem;
}

.entity-type,
.entity-date {
  font-size: 1.2em;
}

@media (max-width: 992px) {
  .entity-type,
  .entity-date {
    font-size: 1em;
  }
}

.entity-type {
  margin-top: 3rem;
}

.entity-class {
  color: dimgrey;
  font-weight: lighter;
}

#entity-link-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#entity-link-buttons button {
  margin-top: 1.5rem;
  width: 70%;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  font-size: 1rem;
  overflow: hidden; // Hide content that overflows the button boundary
  text-overflow: ellipsis;
}