.grid {
  position: relative;
}

.item {
  display: block;
  position: absolute;
  width: calc((100% - 30px) / 3);
  margin: 5px;
  z-index: 1;
  background: #ece6e6;
  color: #060606;
  overflow: hidden;
}

@media (max-width: 992px) { // Below col-md breakpoint
  .item {
    width: calc((100% - 20px) / 2); // 2 tiles
  }
}

@media (max-width: 766px) { // Mobile
  .item {
    width: calc(100% - 10px); // 1 tile
  }
}

.wide-item {
  width: calc(100% - 30px); // full width of three tiles
}

@media (max-width: 992px) { // two tiles
  .wide-item {
    width: calc(100% - 20px);
  }
}

@media (max-width: 766px) { // one tile
  .wide-item {
    width: calc(100% - 10px);
  }
}


.item-content {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.item-content {
  width: auto;
  height: auto;
  overflow: hidden;
}

.tile-label {
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
  top: 0.5rem;
}

.muuri-description {
  p {
    max-height: 700px;
    margin-top: 1.5rem;

    // These are technically the same, but use both
    overflow-wrap: break-word;
    word-wrap: break-word;

    // This is for IE
    -ms-word-break: break-all;
    // Dangerous in WebKit as it breaks words anywhere
    word-break: break-all;
    // Better alternative (non-standard)
    word-break: break-word;

    // Adds hyphens where words break, if supported (No Blink)
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}


.location {
  width: 26vw;
}

#muuri-map {
  margin-top: 1.5rem;
  height: 700px;
  width: 100%;
}


.subentities {
  height: 700px;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.muuri-references {
  p {
    max-height: 700px;
    overflow: auto;
    margin-top: 1.5rem;
  }
}


//Sidebar
.sidebar {
  background-color: var(--card-bg);
  height: calc(100vh - var(--navbar-height));
  color: black;
  text-align: center;
}


.sidebar-content {
  margin-top: 2rem;
}

.entity-country {
  margin-top: 1rem;
}

.entity-type,
.entity-date {
  font-size: 1.2em;
}

@media (max-width: 992px) {
  .entity-type,
  .entity-date {
    font-size: 1em;
  }
}

.entity-type {
  margin-top: 3rem;
}

#entity-link-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#entity-link-buttons button {
  margin-top: 1.5rem;
  width: auto;
}