.grid-media {
  width: 100%;
  position: relative;
}

.video-wrapper video {
  object-fit: cover;
  background: #000;
}
.video-wrapper {
  border-radius: 0.5rem;
}

.btn-filter {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
#media-filters i {
  cursor: pointer;
}


.image .btn-light.position-absolute.top-0.end-0 {
  z-index: 20;
  opacity: 0.60;
  transition: opacity 0.15s;
}
.image .btn-light.position-absolute.top-0.end-0:hover {
  opacity: 0.85;
}
