.navbar-brand {
    width: 266px;
    height: 96px;
    margin-left: 1.5rem;
    background-size: cover;
    background-image: url('../images/logos/logo_266x96.png');

    @media (max-width: 768px) {
        width: 36px;
        background-image: url('../images/logos/logo_36x96.png');
    }
}

