@use '../globals' as *;

/* Sidebar toggle in Navbar */
#toggleSidebar {
  background: none;
  border: none;
  padding-left: 1rem;
}

#toggleSidebar i {
  font-size: 1.5rem;
}

/* Sidebar */
:root {
  --sidebar-width: 70px; /* Initial width */
  --right-sidebar-width: 0px;
}

#nav-sidebar {
  width: var(--sidebar-width);
  transition: width 0.3s ease;
  color: var(--nav-sidebar);
  height: calc(100vh - var(--navbar-height));

  /* Sticky for larger screens */
  @media (min-width: 765px) {
    overflow-y: auto;
    top: var(--navbar-height);
  }
}

#right-sidebar {
  position: absolute;
  right: 0;
  width: var(--right-sidebar-width);
  transition: width 0.3s ease;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
}

#nav-sidebar.expanded {
  width: 150px;
  overflow-x: hidden;
}

#right-sidebar.right-expanded {
  width: 600px;
  overflow-x: hidden;
}

#nav-sidebar .nav-link span {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

#nav-sidebar.expanded .nav-link span {
  display: inline;
  opacity: 1;
}

#nav-sidebar .btn {
  width: 100%;
}

#nav-sidebar .nav-link {
  justify-content: flex-start;
}

#nav-sidebar.expanded .nav-link {
  justify-content: flex-start;
}

@media (max-width: 1199px) {
  #right-sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    --right-sidebar-width: 0;
    top: var(--navbar-height);
    right: 0;
    width: 0;
    height: calc(100vh - var(--navbar-height));
    z-index: 200000;
    transition: width 0.3s ease;
  }

  #right-sidebar.right-expanded {
    width: calc(100vw - var(--sidebar-width));
    overflow-x: hidden;
    transform: translateX(0);
  }
}

@media (max-width: 765px) {
  #nav-sidebar {
    --sidebar-width: 0;
    top: var(--navbar-height);
    left: 0;
    width: 0;
    height: 100vh;
    z-index: 300000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  /* Sidebar shown when expanded */
  #nav-sidebar.expanded {
    width: 150px;
    height: 100vh;
    overflow-x: hidden;
    transform: translateX(0);
  }

  #right-sidebar.right-expanded {
    width: 100vw;
  }
}



/* Sidebar icon, link style grey */
.nav-link {
  color: grey !important;
  transition: color 0.3s ease;

  &:hover {
    color: black !important;

    i {
      color: black !important;
    }
  }

  i {
    color: grey;
    transition: color 0.3s ease;
  }
}
