<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet"
        href="/static/node_modules/bootstrap/dist/css/bootstrap.css">

  <script
    src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <meta charset="UTF-8">

  <title>Histarchexplorer</title>
</head>
<body>
<header class="container-fluid">
  {% include 'navbar.html' %}
</header>
<main>
  <div class="container" style="padding-top: 80px;">
    {% block content %}{% endblock %}
  </div>
</main>
<footer>

</footer>
</body>
</html>
