<div id="example-table-{{ tab_name }}"></div>

<script>
    const filteredEntities{{ tab_name }} = getEntitiesForTab('{{ tab_name }}');
    console.log('tab_name');
    console.log('{{ tab_name }}');
    console.log(filteredEntities{{ tab_name }});

    const columns{{ tab_name }} = [
        {
            title: "Name",
            field: "name",
            headerFilter: "input",
            headerFilterFunc: "like",
            formatter: function (cell) {
                const id = cell.getRow().getData().id;
                const name = cell.getRow().getData().name;
                return `<a href="/entity/${id}">${name}</a>`;
            }
        }
    ];




    if (fieldHasValues(filteredEntities{{ tab_name }}, "description")) {
        filteredEntities{{ tab_name }}.forEach(entity => {
            entity.description = translateDescription(entity.description);
        });
        columns{{ tab_name }}.push({
            title: "Description", field: "description", headerFilter: "input",
            headerFilterFunc: "like",
        });
    }

    if ("{{ tab_name }}" !== "files") {

        columns{{ tab_name }}.push({
            title: "Class",
            field: "class",
            editor: "input",
            headerFilter: "input",
            headerFilterFunc: "like"
        });
    }


    if (fieldHasValues(filteredEntities{{ tab_name }}, "type")) {
        columns{{ tab_name }}.push({
            title: "Type", field: "type", editor: "input",
            headerFilter: "input",
            headerFilterFunc: "like"
        });
    }

        if (fieldHasValues(filteredEntities{{ tab_name }}, "begin")) {
        filteredEntities{{ tab_name }}.forEach(entity => {
            entity.beginBP = calculateTimeBP(entity.begin);
        });
        columns{{ tab_name }}.push({
            title: "Begin",
            field: "begin",
            formatter: function (cell) {
                const value = cell.getValue();
                if (!value) return '';
                return makeLocalDate(value).localdate;
            },
            sorter: function (a, b) {
                return calculateTimeBP(a) - calculateTimeBP(b);
            },
        });
    }


    if (fieldHasValues(filteredEntities{{ tab_name }}, "end")) {
        columns{{ tab_name }}.push({
            title: "End",
            field: "end",
            formatter: function (cell) {
                const value = cell.getValue();
                if (!value) return '';
                return makeLocalDate(value).localdate;
            },
            sorter: function (a, b) {
                return calculateTimeBP(a) - calculateTimeBP(b);
            },
        });
    }

    const table{{ tab_name }} = new Tabulator("#example-table-{{ tab_name }}", {
        layout: "fitColumns",
        height: "calc( 100vh -  100px)",
        data: filteredEntities{{ tab_name }},
        pagination: "local",
        paginationSize: 50,
        paginationSizeSelector: [20, 50, 100],
        persistence: false,
        persistenceID: "persistence{{ tab_name }}",
        columns: columns{{ tab_name }}
    });
</script>

