<script type="module" src="/static/node_modules/muuri/dist/muuri.min.js"></script>
<script src="../../static/js/media.js"></script>
<script> const entity = JSON.parse(JSON.parse({{ data|tojson }}).entity)</script>


<link rel="stylesheet" href="/static/css/main.css">

<div class="col flex-column grid-media">
  {% for image in all_images %}
    <div class="item-half" data-type="image">
      <img src="{{ image.url }}" alt="{{ image.title }}" style="width: 100%; height: auto;"/>
    </div>
  {% endfor %}
</div>