{% import '_macros.html' as ui %}
<script src="../../static/js/overview.js"></script>

<script> const entity = JSON.parse(JSON.parse({{ data|tojson }}).entity)</script>
<script> const overviewMap = JSON.parse(JSON.parse({{ data|tojson }}).overview_map)</script>
<script> const entityName = entity.title</script>
<script src="{{ url_for('static', filename='js/map_overview.js') }}"></script>


<div class="col flex-column grid-muuri">
  <div class="item item-half hierarchy-item">
    <div class="cite-wrapper">
      {{ cite_button.button_html | safe }}
    </div>
    {% if hierarchy.root %}
      {% for entity in hierarchy.root %}
        <div class="hierarchy-button">
          <button type="button"
                  class="btn btn-whitish rounded-5"
                  title="{{ entity.types[0].title }}&#010;&#010;{{ entity.description[CURRENT_LANGUAGE] }}">
            <a href="{{ url_for('entity_view', id_=entity.id) }}"
               class="nude-link text-decoration-none">
              {{ entity.name }}
            </a>
          </button>
          <div class="hierarchy-line"></div>
        </div>
      {% endfor %}
    {% endif %}
    <!-- todo: can we move this in a .py file? Isn't this in VIEW_CLASSES? -->
    {% set system_class_map = {
                    'place': 'places',
                    'feature': 'places',
                    'stratigraphic unit': 'places',
                    'move': 'events',
                    'acquisition': 'events',
                    'modification': 'events',
                    'activity': 'events',
                    'group': 'actors',
                    'person': 'actors',
                    'event': 'events',
                    'artifact': 'items',
                    'source': 'sources',
                    'file': 'files'} %}

    {% if entity.system_class.lower() in ['group', 'person'] and main_image %}
      <div class="entity-card__icon">
        <img src="{{ main_image.url }}" alt="{{ entity.title }}"/>
      </div>
      <div class="hierarchy-card-label"
           data-system-class="{{ entity.system_class.lower() }}">{{ entity.title }}</div>
      <div class="entity-date">
        <p>{{ ui.date_template_format(entity.start, entity.end) }}</p>
      </div>
    {% else %}
      <div
        class="main-entity-ellipse main-entity-ellipse--{{ system_class_map.get(entity.system_class.lower(), '') }}">
        <div class="entity-card__icon">
          {% if entity.system_class.lower() in ['feature', 'stratigraphic unit'] %}
            <img src="/static/images/entity_icons/place.png"
                 alt="{{ entity.system_class }}">
          {% elif entity.system_class.lower() in ['move', 'acquisition', 'modification', 'activity'] %}
            <img src="/static/images/entity_icons/event.png"
                 alt="{{ entity.system_class }}">
          {% else %}
            <img
              src="/static/images/entity_icons/{{ entity.system_class | lower }}.png"
              alt="{{ entity.system_class }}">
          {% endif %}
        </div>
        <div class="hierarchy-card-label mb-0">{{ entity.title }}</div>
        <div class="entity-type mb-0 ">
          {% for type in entity.types %}
            {% if type.is_standard %}
              <p>{{ type.title | upper }}</p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="entity-date">
          {% if entity.start or entity.end %}
            <p>{{ ui.date_template_format(entity.start, entity.end) }}</p>
          {% elif entity.types %}
            <!-- todo: chronology will not work, need to refactor (Bernhard will do this)-->
            {% for type in entity.types if type.root == 'Chronology' %}
              <p>{{ type.label or 'No date available' }}</p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    {% endif %}

    <!--  Subunits button -->
    {% if hierarchy.subs %}
      <div class="hierarchy-button">
        <div class="hierarchy-line"></div>
        <button type="button" class="btn btn-whitish rounded-5" disabled>
          <i class="bi bi-diagram-3"></i>
          <span class="nude-link">

            {{ hierarchy.subs }}
            {{ "Subentity" if hierarchy.subs == 1 else "Subentities" }}</span>

        </button>
      </div>
    {% endif %}


    <div class="attribute-area">
      <!-- Attributes -->
      {% if categorized_types %}
        <span class="tile-label">{{ _('attributes') | upper }}</span>
        <div class="categorized-types">
          {% for label, value in categorized_types.items() %}
            <p class="tile-sub-label text-uppercase mt-3">
              {{ value[0]['icon'] | safe }} {{ label.replace('_', ' ').title() }}</p>
            {% for type in value %}
              <div class="badge custom-badge text-wrap m-1">
                <h6 class="m-0 text-center">
                  {{ type.type.title }}
                  {% if type.type.value and type.type.unit %}:
                    {{ type.type.value }}
                    {{ type.type.unit }}
                  {% endif %}
                </h6>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  <!-- Description -->
  {% if entity.description %}
    <div class="item {% if entity.description[CURRENT_LANGUAGE] | length > 1500 %}item-middle{% endif %}">
      <div class="item-content" data-type="description">
        <div class="muuri-description">
          <span class="tile-label">{{ _("description") | upper }}</span>
          <p>{{ entity.description[CURRENT_LANGUAGE]  }}</p>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Map Location -->
  {% if entity.geometries or overview_map_geometry%}
    <div class="item" data-type="map">
      <div class="map-wrapper">
        <div class="item-content item-content-full">
          <div class="location">
            <div id="muuri-map"></div>
            <button id="expand-button"
                    class="btn btn-light btn-sm">
              <i class="bi bi-box-arrow-up-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}


  <!-- First image -->
  {% if main_image and (entity.system_class.lower() not in ['actor', 'person']) %}
    {{ ui.overview_image(main_image, manifests) }}
  {% endif %}

  <!-- All initial images, split last one out -->
  {% if initial_images %}
    {% set last_image = initial_images[-1] %}
    {% set other_images = initial_images[:-1] %}

    {% for depiction in other_images %}
      {{ ui.overview_image(depiction, manifests) }}
    {% endfor %}

    <div class="item-half" data-type="image">
      <div class="item-content item-content-full">
        <div class="muuri-images">
          <div class="image position-relative">
            <a href="{{ last_image.iiif_base_path }}/full/max/0/default.jpg"
               target="_blank"
               class="hover-max position-absolute bottom-0 end-0 m-2 text-dark bg-white bg-opacity-75 px-2 py-1 rounded"
               style="z-index: 10;">
              <i class="bi bi-arrows-fullscreen"></i>
            </a>
            <img src="{{ last_image.url }}" alt="{{ last_image.title }}">
            <button id="show-more-images"
                    class="hover-max position-absolute bottom-0 start-0 m-2 text-dark bg-white bg-opacity-75 px-2 py-1 rounded">
              More images
            </button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Bibliography and External References -->
<!-- todo: get also the references from the root entity -->
<!--    This is just a model thing, Bernhard will include this in the API call, so nothing to do here -->
  {% if entity.references %}
    <div class="item item-5-6" data-type="reference">
      <div class="item-content">
        <div class="muuri-references">
          <p class="tile-label text-uppercase">References</p>
          <ul class="no-bullets">
            {% for reference in entity.references %}
              {% if reference.system_class in ["bibliography", "external_reference"] %}
                <li>
                  <div class="reference-content">
                    <div class="reference-header">
                      {% if reference.system_class == "bibliography" %}
                        <i class="bi bi-book"></i>
                        <a href="{{ url_for('entity_view', id_=reference.id) }}"
                           class="reference-name">
                          {{ reference.title }}
                        </a>
                      {% elif reference.system_class  == "external_reference" %}
                        <i class="bi bi-box-arrow-up-right"></i>
                        {% set parts = reference.title.split('/') %}
                        {% set result = parts[:3] %}
                        <a href="{{ reference.title }}" class="reference-name">
                          {{ result | join('/') }}
                        </a>
                      {% endif %}
                    </div>
                    <p class="reference-description">
                      {{ reference.citation }} {{ reference.pages }}
                    </p>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
</div>

{{ cite_button.modal_html | safe }}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    setTimeout(() => {
      window.grid.refreshItems().layout();
    }, 100);
  })
</script>







