<style>
    .publications {
        max-width: 1000px;
        margin: 120px auto;
        padding: 0 20px;
    }

    .publications h1 {
        font-size: 3rem;
        margin-bottom: 60px;
        font-weight: 600;
    }

    /* Publication Card */

    .pub-card {
        padding: 40px;
        border-radius: 18px;
        background: #fafafa;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.14);
        transition: transform .2s ease;
        margin-bottom: 30px;
    }

    .pub-card:hover {
        transform: translateY(-4px);
    }

    .pub-card h2 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .pub-authors {
        color: #666;
        margin-bottom: 10px;
    }

    .pub-journal {
        margin-bottom: 20px;
        font-style: italic;
    }

    .pub-links {
        margin-top: 25px;
    }

    .pub-links a {
        margin-right: 20px;
        text-decoration: none;
        border: 1px solid #ddd;
        padding: 6px 14px;
        border-radius: 10px;
        color: #222;
        transition: all 0.2s ease;
    }

    .pub-links a:hover {
        background: #222;
        color: white;
        border-color: #222;
    }
</style>

<section class="publications">

    <h1>Publications</h1>

    <div class="pub-card">
        <h2>
            RELIC. Zur räumlichen Modellierung des sozialen, religiösen und politischen Wandels zwischen Früh- und
            Hochmittelalter
        </h2>
        <p class="pub-authors">
            Stefan Eichert & Mária Vargha & Nina Richards (2026)
        </p>
        <p class="pub-journal">
            Beiträge zur Mittelalter- und Neuzeitarchäologie in Österreich 41/2025, 53–67
        </p>
        <p>
            <strong>Full citation:</strong><br>
            Eichert, Stefan, Vargha, Mária and Richards, Nina. 2026.
            “RELIC. Zur räumlichen Modellierung des sozialen, religiösen und politischen Wandels zwischen Früh- und
            Hochmittelalter”.
            Beiträge zur Mittelalter- und Neuzeitarchäologie in Österreich 41/2025: 53–67.
        </p>
        <div class="pub-links">
            <a href="https://www.oegmn.or.at/publikationen/bmoe/bmoe-41-2025.html" target="_blank">
                URL ↗
            </a>
            <a href="/static/images/ind_assets/bmoe_41_2025_04_vargha_eichert_richards.pdf" target="_blank">
                PDF ↓
            </a>
        </div>
    </div>

    <div class="pub-card">
        <h2>
            A Geospatial Approach to Modelling Social, Religious and Political Shifts in History
        </h2>
        <p class="pub-authors">
            Mária Vargha & Stefan Eichert (2025)
        </p>
        <p class="pub-journal">
            European Journal of Geography 16(1), 90-100
        </p>
        <p>
            <strong>Full citation:</strong><br>
            Vargha, Mária, and Eichert, Stefan. 2025.
            “A Geospatial Approach to Modelling Social, Religious and Political Shifts in History”.
            European Journal of Geography 16 (1):90-100.
            https://doi.org/10.48088/ejg.si.spat.hum.m.var.90.100.
        </p>
        <div class="pub-links">
            <a href="https://doi.org/10.48088/ejg.si.spat.hum.m.var.90.100" target="_blank">
                DOI ↗
            </a>

            <a href="https://www.eurogeojournal.eu/index.php/egj/article/download/719/420/2765" target="_blank">
                PDF ↓
            </a>
        </div>
    </div>

    <div class="pub-card">
        <h2>
            THANADOS. Ein offenes Webportal für archäologische und anthropologische Quellen zu Bestattungen des
            Mittelalters
        </h2>
        <p class="pub-authors">
            Stefan Eichert & Nina Richards (2025)
        </p>
        <p class="pub-journal">
            Archäologie Österreichs 35/2024, 57–59
        </p>
        <p>
            <strong>Full citation:</strong><br>
            Eichert, Stefan, and Richards, Nina. 2025.
            “THANADOS. Ein offenes Webportal für archäologische und anthropologische Quellen zu Bestattungen des
            Mittelalters”.
            Archäologie Österreichs 35 2024: 57–59.
        </p>
        <div class="pub-links">
            <a href="https://oeguf.ac.at/archaeologie-oesterreichs/product/64-archaeologie-oesterreichs-2024-35" target="_blank">
                URL ↗
            </a>
            <a href="/static/images/ind_assets/Eichert.pdf" target="_blank">
                PDF ↓
            </a>
        </div>
    </div>

</section>
{% include "footer.html" %}